body{
    background-image: url(to_samoe.png);
    -moz-background-size: 100%;
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: cover;
    font-family: 'Montserrat', sans-serif; 
}

header{
    width: 1667px;
    max-width: 100%;
    margin: auto;
    margin-top: 33px;
    font-style: italic;
    font-size: 48px;
}

.menu{
    list-style-type: none;
    padding-left: 555px;
}

.menu li{
    display: inline; 
    padding-right: 30px;
}

.menu a{
    color: black;
    text-decoration: none;
}

#last{
    padding-right: 0px !important;
}

#first{
    text-decoration: underline;
    font-weight: bold;
}

main{
    width: 1667px;
    max-width: 100%;
    margin: auto;
    display: flex;
}

.left{
    width: 33%;
}

.img img{
    padding-top: 60px;
}

.right  h1{
    padding-top: 140px;
    font-size: 64px;
    line-height: 78px;
    color: #4F4F4F;
}

.town{
    font-size: 36px;
    line-height: 56px;
    text-align: center;

    color: #4F4F4F;
}

.conteiner_edu{
    display: flex;
}

.name_list_edu{
    font-size: 48px;
    color: #4F4F4F;
    width: 40%;
    padding-top: 100px;
    display: flex;
}

.edu_list{
    padding-top: 90px;
    padding-left: 50px;
}

.edu_list li{
    font-size: 25px;
    line-height: 35px;
    list-style-type: disc;
    color: #333333;
}

.conteiner_skils{
    display: flex;
}

.name_list_skils{

    padding-left: 145px;
    width: 24%;
    font-size: 48px;
    color: #4F4F4F;
    padding-top: 100px;
    display: flex;
}

.skils_list{
    padding-top: 90px;
    padding-left: 50px;
}

.skils_list li{
    font-size: 25px;
    line-height: 35px;
    list-style-type: disc;
    color: #333333;
}

footer{
    width: 1667px;
    max-width: 100%;
    margin: auto;
}

footer ul{
    padding-top: 25px;
    text-align: center;
    padding-bottom: 20px;
}

footer ul li{
    display: inline;
    padding-right: 15px;
}