@media(max-width: 1670px){
    body{
        padding-left: 30px;
	    padding-right: 30px;
	    box-sizing: border-box;
    }
    header{
        font-size: 30px;
    }

    .left p{

        font-size: 45px;
        padding-top: 300px;
        padding-left: 120px;
    }

    .right ul > li{
        font-size: 35px;
        line-height: 55px;
    }
}

@media(max-width: 1280px){
    header{
        font-size: 15px;
    }

    .menu{
        padding-left: 0px;
        text-align: center;
    }

    .left p{

        font-size: 30px;
        padding-top: 250px;
        padding-left: 50px;
    }

    .right ul > li{
        font-size: 20px;
        line-height: 35px;
    }
}

@media(max-width: 500px){
    header{
        font-size: 10px;
    }

    .left p{

        font-size: 20px;
        padding-top: 250px;
        padding-left: 10px;
    }

    .right ul > li{
        font-size: 15px;
        line-height: 30px;
    }
}