@media(max-width: 1670px){
    body{
        padding-left: 30px;
	    padding-right: 30px;
	    box-sizing: border-box;
    }
}

@media(max-width: 1650px){
    header{
        font-size: 30px;
    }
}

@media(max-width: 1280px){
    header{
        font-size: 15px;
    }

    .menu{
        padding-left: 0px;
        text-align: center;
    }

    .left{
        display: none;
    }

    .right
    {
        width: 100%;
    }

    .lowwer div{
        display: none;
    }

    .lowwer{
        width: 100%;
        padding-left: 0px;
    }
    .lowwer p{
        width: 100%;
        padding: 0px;
        text-align: center;
    }

}

@media(max-width: 700px){
    .upper p{
        font-size: 20px;
        line-height: 35px;
    }

    .lowwer p{
        font-size: 20px;
        line-height: 35px;
    }
}

@media(max-width: 425px){
    header{
        font-size: 10px;
    }

    .upper p{
        font-size: 15px;
        line-height: 25px;
    }

    .lowwer p{
        font-size: 15px;
        line-height: 25px;
    }
}