@media(max-width: 1670px){
    body{
        padding-left: 30px;
	    padding-right: 30px;
	    box-sizing: border-box;
    }
}

@media(max-width: 1630px){
    header{
        font-size: 30px;
    }

    .right  h1{
        font-size: 30px;
        text-align: center;
        line-height: 38px;
    }

    .town{
        font-size: 25px;
    }

    .name_list_edu{
        font-size: 30px;
        width: 30%;
        padding-left: 100px;
    }
    
    .name_list_skils{

        padding-left: 195px;
        width: 21%;
        font-size: 30px;
    }
}

@media(max-width: 1280px){
    header{
        font-size: 15px;
    }
}

@media(max-width: 1120px){

    .left{
        width: 30%;
    }

    .img img{
        width: 289px;
        height: 466px;
    }
}

@media(max-width: 1030px){
    .menu{

        padding-left: 355px;
    }

    .right  h1{
        font-size: 15px;
        text-align: center;
        line-height: 20px;
    }

    .town{
        font-size: 10px;
    }

    .name_list_edu{
        font-size: 15px;
        width: 20%;
        padding-left: 100px;
    }
    
    .name_list_skils{

        padding-left: 150px;
        width: 10%;
        font-size: 15px;
    }

    .edu_list li{
        font-size: 10px;
        line-height: 15px;
    }

    .skils_list li{
        font-size: 10px;
        line-height: 15px;
    }
}

@media(max-width: 780px){
    .left{
        display: none;
    }

    .right{
        text-align: center;
        width: 100%;
    }

    .menu{
        padding-left: 0px;
        text-align: center;
    }

    .edu_list{
        text-align: start;
    }

    .skils_list{
        text-align: start;
    }

    .name_list_edu{
        width: 23%;
        padding-left: 100px;
    }
    
    .name_list_skils{
        padding-left: 150px;
        width: 13%;
    }
}

@media(max-width: 430px){
    .menu li{
           font-size: 10px;
    }

    .name_list_edu{

        padding-left: 40px;
    }
    
    .name_list_skils{

        padding-left: 75px;

    }
}

@media(max-width: 375px){

    .name_list_edu{

        padding-left: 0px;
        width: 35%;
    }
    
    .name_list_skils{

        padding-left: 25px;
        width: 35%;
    }
}