body{
    background-image: url(to_samoe.png);
    -moz-background-size: 100%;
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

header{
    width: 1667px;
    max-width: 100%;
    margin: auto;
    margin-top: 33px;
    font-style: italic;
    font-size: 48px;
}

.menu{
    list-style-type: none;
    padding-left: 555px;
}

.menu li{
    display: inline; 
    padding-right: 30px; 
}

.menu a{
    color: black;
    text-decoration: none;
}

#last{
    padding-right: 0px !important;
}

#second{
    text-decoration: underline;
    font-weight: bold;
}

main{
    width: 1667px;
    max-width: 100%;
    margin: auto;
    display: flex;
}

.left{
    width: 24%;
}
.right{
    width: 70%;
}

.left img{
    padding-top: 55px;
}

.left p{
    font-size: 25px;
    line-height: 56px;
    text-align: center;
    padding-right: 15px;
}

.upper p{
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    padding-top: 75px;
}

.lowwer{
    display: flex;
    padding-left: 60px;
    margin-top: 50px;
}

.lowwer p{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    padding-left: 30px;
    padding-top: 40px;
}

.lowwer img{
    width: 463px;
    height: 282px;
    padding-top: 42px;
    padding-left: 30px;
}

footer{
    width: 1667px;
    max-width: 100%;
    margin: auto;
}

footer ul{
    padding-top: 25px;
    text-align: center;
    padding-bottom: 20px;
}

footer ul li{
    display: inline;
    padding-right: 15px;
}