body{
    background-image: url(to_samoe.png);
    -moz-background-size: 100%;
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

header{
    width: 1667px;
    max-width: 100%;
    margin: auto;
    margin-top: 33px;
    font-style: italic;
    font-size: 48px;
}

.menu{
    list-style-type: none;
    padding-left: 555px;
}

.menu li{
    display: inline; 
    padding-right: 30px; 
}

.menu a{
    color: black;
    text-decoration: none;
}

#last{
    padding-right: 0px !important;
    text-decoration: underline;
    font-weight: bold;
}

main{
    width: 1667px;
    max-width: 100%;
    margin: auto;
    display: flex;
}

.left{
    width: 30%;
}

.left p{
    padding-top: 350px;
    padding-left: 30px;
    font-size: 60px;
    color: #4F4F4F;
}

.right ul{
    padding-left: 60px;
    padding-top: 175px;
}

.right ul > li{
    font-size: 45px;
    line-height: 70px;
    list-style-type: disc;
    color: #333333;
}

footer ul{
    padding-top: 190px;
    text-align: center;
    padding-bottom: 20px;
}

footer ul li{
    display: inline;
    padding-right: 15px;
}